body {
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  justify-content: space-between;
  color: #E5E7EB;
  padding: 20px 120px;
  background-color: #1F2937;
}

.four-pics {
  display: flex;
  gap: 30px;
}

.pic {
  text-align: center;
}

.quarter-1,
.footer {
  background-color: #1F2937;
}

.quarter-1 {
  display: flex;
  justify-content: space-around;
  padding: 80px 140px;
  gap: 90px;
}

.quarter-2{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 90px 40px 90px;
}

.quarter-3 {
  background-color: #E5E7EB;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 90px 225px;
}

.quarter-4{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 90px;
}

h1 {
  font-size: 48px;
  font-weight: 700;
  color: #F9FAF8;
}

h2 {
  font-size: 36px;
  font-weight: 700;
  color: #1F2937;
  padding: 30px;
}

button {
  background-color: #3882F6;
  color: #F9FAF8;
  font-weight: 700;
  border-radius: 5px;
  border-width: 2px;
  border-style: solid;
  padding: 5px 20px;
}

.subtext {
  color: #E5E7EB;
}

.box {
  background-color: #3882F6;
  border-radius: 10px;
  display: flex;
  justify-content: space-around;
  color: #F9FAF8;
  padding: 30px 90px;
  gap: 110px;
  align-content: center;
}

.footer {
  display: flex;
    color: #E5E7EB;
    justify-content: center;
    padding: 30px;
}

ul {
  display: flex;
  gap: 20px;
  list-style: none;
}

.small-pic {
  border-radius: 15px;
  border: 2px solid #E5E7EB;
}

p,
h1,
h2,
ul {
  margin: 0;
}

.b {
  font-weight: 800;
  font-size: 20px;
}

.s {
  font-size: 16px;
}

.u {
  margin-bottom: 10px;
}

#person {
  align-self: flex-end;

}

#quote {
  font-size: 36px;
  font: italic;
  color: #1F2937;
}

.button-2 {
  border-color: white;
}

.button-1 {
  border-color: #3882F6;
}
